body {
    font-family: Arial, sans-serif;
}
section {
    margin-bottom: 40px;
}
h1 {
    color: SaddleBrown
}

.logo-container {
    text-align: left;
    margin-left: 40px;
    margin-bottom: 20px;
}
.logo {
    display: block;
    width: 200px;
}
.simple-table {
    table-layout: fixed;
    text-align: center;
    margin: 0 40px;
}
.simple-table tr td {
    padding: 20px;
    vertical-align: top;
    border: none;
}
.service-image {
    width: 40%;
    height: auto;
}
.service-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 25px;
}
.service-description {
    font-size: 18px;
    color: #333;
    margin-top: 25px;
}

.double-border {
    border: 1px solid;
}
.double-border th,
.double-border td {
    border: 1px solid;
}

.exam-results-table {
    margin: 0 auto;
}
.exam-results-table thead {
    font-weight: bold;
    text-align: center;
}
.exam-results-table-title {
    font-size: 20px;
}
.exam-results-table th,
.exam-results-table td {
    padding: 5px;
}
.exam-results-table tfoot {
    text-align: right;
}

.nested-table {
    margin: 0 auto;
}
.nested-table th,
.nested-table td {
    padding: 5px;
    font-size: 40px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 5px;
}
.antra-life {
    grid-column: span 4;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}
.box {
    border: 1px solid black;
    font-size: 20px;
    padding: 5px;
}
.google {
    grid-column: span 2;
    display: flex;
    justify-content: left;
}
.github {
    grid-column: span 2;
    display: flex;
    justify-content: right;
}
.fb {
    grid-column: span 1;
    display: flex;
    justify-content: center;
}
.gmail {
    grid-column: span 1;
    display: flex;
    align-items: center;
}
.youtube {
    grid-column: span 1;
    display: flex;
    align-items: end;
    justify-content: center;
}
.n2048 {
    grid-column: span 1;
    display: flex;
    align-items: center;
}
.food {
    grid-column: span 1;
    display: flex;
    align-items: end;
    justify-content: right;
}
.game {
    grid-column: span 2;
    display: flex;
    align-items: end;
}
.nested {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    max-width: 100%;
    border: 1px solid black;
    padding: 5px;
}
.small-box {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
.beer {
    grid-column: span 3;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: right;
}
.wc {
    grid-column: span 1;
    display: flex;
    align-items: center;
}

.antra-life-table {
    margin: 0 auto;
    width: 400px;
}
.antra-life-table th {
    font-size: 40px;
    color: rgb(73, 46, 162);
    height: 100px;
    padding: 5px;
    background-color: rgb(239, 227, 229);
}
.antra-life-table td {
    height: 100px;
    padding: 5px;
}
#nested-td {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#nested-td button {
    font-size: 14px;
}
.antra-life-table button {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: linear-gradient(to bottom, #edefef 50%, #d5d5d5 50%);
    color: blue;
    border-radius: 3px;
    border-color: grey;
    cursor: pointer;
    font-size: 30px;
}
.antra-life-table button:active {
    transform: scale(0.95);
}
.antra-life-table button:hover {
    opacity: 0.7;
}
#bear-btn {
    text-align: right;
}